.examples {
  padding-top: 50px;
  padding-bottom: 50px;

  &__slide {
    width: 900px;
    display: flex;
    justify-content: center;
  }

  &__picture {
    &-image {
      width: 900px;
      height: 800px;
      border-radius: 10px;
    }
  }
}
