.examples {
  padding-top: 50px;
  padding-bottom: 50px;

  &__slide {
    width: 900px;
    display: flex;
    justify-content: center;
  }

  &__picture {
    &-image {
      width: 900px;
      height: 800px;
      border-radius: 10px;
    }
  }

  &__btn {
    position: absolute;
    top: 45%;
    width: 62px;
    height: 125px;
    z-index: 1;

    &-prev {
      left: 9%;
      transform: rotate(180deg);
    }

    &-next {
      right: 9%;
    }

    &-img {
      width: 62px;
      height: 125px;
      fill: transparent;
      stroke: var(--dodger-blue);
      filter: drop-shadow( 0px 0px 3px black);

      
    }
  }
}
