.examples {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

  &__slide {
    width: 900px;
    display: flex;
    justify-content: center;
  }

  &__picture {
    &-image {
      width: 900px;
      height: 900px;
      border-radius: 10px;

      @include small-tablet {
        & {
          height: 600px;
        }
      }

      @include mobile {
        & {
          height: 360px;
        }
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;

    @include high-desktop {
      & {
        width: 100%;
      }
    }
  }

  &__btn {
    width: 28px;
    height: 28px;
    border-radius: 100px;
    border: 2px solid var(--dodger-blue);
    z-index: 1;

    &-prev {
      left: 7%;
      transform: rotate(180deg);
    }

    &-next {
      right: 7%;
    }

    &-img {
      width: 9px;
      height: 24px;
      fill: transparent;
      stroke: var(--dodger-blue);
      transition: filter 0.3s ease-in-out;
    }

    &.swiper-button-disabled .examples__btn-img {
      stroke: var(--grey-color);
    }

    &.swiper-button-disabled {
      border-color: var(--grey-color);
    }
  }
}
