.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--black-025-color);
  box-shadow: 0px 5px 11px -4px rgba(34, 60, 80, 0.8);

  &__container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    @include high-tablet {
      & {
        display: none;
      }
    }
  }

  &__burger {
    display: none;

    @include high-tablet {
      & {
        margin-left: 30px;
        padding: 10px 0;
        display: block;
      }

      &-img {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__nav {
    width: 55%;

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-link {
      font-size: 18px;
      color: var(--white-color);
    }

    &-close {
      display: none;
    }

    @include high-tablet {
      &-close {
        display: block;
      }

      & {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: var(--vh);
        background-color: var(--dodger-blue);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform .3s ease-in-out;
      }
    }
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
  transform: translateX(100%);
}

