.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--black-025-color);

  &__container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    width: 55%;

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-link {
      font-size: 18px;
      color: var(--white-color);
    }
  }
}
