.hero {
  background-color: var(--beige-color);

  &__container {
    display: flex;
    justify-content: center;
  }

  &__img {
    height: 100vh;

    @include high-tablet {
      max-width: max-content;
    }
  }
}
