.price {
  padding-top: 50px;
  padding-bottom: 50px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 5px;
    padding: 20px;
    max-width: max-content;
    font-size: 28px;
    border-radius: 10px;
    background-color: var(--night-rider-color);
    color: var(--white-color);
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 5px;
    padding: 15px;
    max-width: max-content;
    font-size: 26px;
    border-radius: 10px;
    background-color: var(--night-rider-05-color);
    color: var(--white-color);
    text-transform: uppercase;
  }

  &__descr {
    margin-bottom: 20px;
    padding: 10px;
    max-width: max-content;
    font-weight: 700;
    font-size: 24px;
    border-radius: 10px;
    background-color: var(--night-rider-05-color);
    color: var(--white-color);
    text-transform: uppercase;
  }

  &__list {
    margin-bottom: 20px;
    width: 50%;
  }

  &__item {
    display: flex;

    &--micro {
      justify-content: flex-end;
    }

    &-service {
      font-weight: 700;
      font-size: 26px;
    }

    &-dot {
      margin: 0 5px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      height: 24px;
      border-bottom: 2px dotted var(--grey-color);
    }

    &-price {
      font-weight: 700;
      font-size: 26px;

      &--micro {
        margin-bottom: 10px;
        font-size: 18px;
      }
    }
  }

  &__bonus {
    margin-bottom: 20px;
    width: 35%;
    font-weight: 700;
    font-size: 32px;
    color: var(--night-rider-color);
    text-transform: uppercase;
    text-align: center;
  }

  &__advantages {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-item {
      display: flex;
      align-items: center;

      &-img {
        margin-right: 20px;
        width: 102px;
        height: 102px;
        fill: var(--las-palmas-color);
      }

      &-wrap {

        &-title {
          margin-bottom: 15px;
          font-size: 22px;
          color: var(--night-rider-color);
          text-transform: uppercase;
        }

        &-descr {
          font-size: 16px;
          color: var(--night-rider-color);
          text-transform: uppercase;
        }
      }
    }
  }
}
