<section class="about" id="about">
  <div class="container">
    <h2 class="about__title">студия наращивания волос и колористики</h2>
    <div class="about__wrapper">
      <svg class="about__wrapper-img">
        <use xlink:href="img/sprite.svg#lightning"></use>
      </svg>
      <h3 class="about__wrapper-conditions">густые концы | предоплата</h3>
    </div>
    <div class="about__sale">
      <p class="about__sale-text">sale</p>
      <p class="about__sale-text">sale</p>
      <p class="about__sale-text">sale</p>
    </div>
    <div class="about__goto">
      <p class="about__goto-text">переходи в наш инстаграмм</p>
      <div class="about__goto-arrow">
        <svg class="about__goto-arrow-img">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
        <svg class="about__goto-arrow-img">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
        <svg class="about__goto-arrow-img">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
      <a href="https://www.instagram.com/__hairti__/?igshid=YmMyMTA2M2Y%3D" target="_blank" class="about__goto-instagram">__HAiRTi__</a>
    </div>
    <div class="about__social">
      <a href="#no-scrolling" class="about__social-link" target="_blank">
        <img loading="lazy" src="img/about/vk.svg" class="about__social-image" width="48" height="48" alt="">
      </a>
      <a href="#no-scrolling" class="about__social-link" target="_blank">
        <img loading="lazy" src="img/about/whatsapp.svg" class="about__social-image" width="48" height="48" alt="">
      </a>
    </div>
  </div>
</section>

