<section class="examples">
  <div class="container">
    <div class="examples__wrapper">
      <div class="swiper examples-swiper">
        <ul class="swiper-wrapper list-reset">
          <li class="swiper-slide examples__slide">
            <picture class="examples__picture">
              <source srcset="img/examples/foto1.avif" type="image/avif">
              <source srcset="img/examples/foto1.webp" type="image/webp">
              <img loading="lazy" src="img/examples/foto1.jpeg" class="examples__picture-image" width="900" height="700" alt="">
            </picture>
          </li>
          <li class="swiper-slide examples__slide">
            <picture class="examples__picture">
              <source srcset="img/examples/foto2.avif" type="image/avif">
              <source srcset="img/examples/foto2.webp" type="image/webp">
              <img loading="lazy" src="img/examples/foto2.jpeg" class="examples__picture-image" width="900" height="700" alt="">
            </picture>
          </li>
          <li class="swiper-slide examples__slide">
            <picture class="examples__picture">
              <source srcset="img/examples/foto3.avif" type="image/avif">
              <source srcset="img/examples/foto3.webp" type="image/webp">
              <img loading="lazy" src="img/examples/foto3.jpeg" class="examples__picture-image" width="900" height="700" alt="">
            </picture>
          </li>
          <li class="swiper-slide examples__slide">
            <picture class="examples__picture">
              <source srcset="img/examples/foto4.avif" type="image/avif">
              <source srcset="img/examples/foto4.webp" type="image/webp">
              <img loading="lazy" src="img/examples/foto4.jpeg" class="examples__picture-image" width="900" height="700" alt="">
            </picture>
          </li>
          <li class="swiper-slide examples__slide">
            <picture class="examples__picture">
              <source srcset="img/examples/foto5.avif" type="image/avif">
              <source srcset="img/examples/foto5.webp" type="image/webp">
              <img loading="lazy" src="img/examples/foto5.jpeg" class="examples__picture-image" width="900" height="700" alt="">
            </picture>
          </li>
          <li class="swiper-slide examples__slide">
            <picture class="examples__picture">
              <source srcset="img/examples/foto6.avif" type="image/avif">
              <source srcset="img/examples/foto6.webp" type="image/webp">
              <img loading="lazy" src="img/examples/foto6.jpeg" class="examples__picture-image" width="900" height="700" alt="">
            </picture>
          </li>
          <li class="swiper-slide examples__slide">
            <picture class="examples__picture">
              <source srcset="img/examples/foto7.avif" type="image/avif">
              <source srcset="img/examples/foto7.webp" type="image/webp">
              <img loading="lazy" src="img/examples/foto7.jpeg" class="examples__picture-image" width="900" height="700" alt="">
            </picture>
          </li>
          <li class="swiper-slide examples__slide">
            <picture class="examples__picture">
              <source srcset="img/examples/foto8.avif" type="image/avif">
              <source srcset="img/examples/foto8.webp" type="image/webp">
              <img loading="lazy" src="img/examples/foto8.jpeg" class="examples__picture-image" width="900" height="700" alt="">
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>


</section>
