<section class="feedback">
  <div class="container">
    <form action="#" class="feedback__form form">
      <label class="feedback__label">
        <input type="text" name="Имя" class="input-reset feedback-input" placeholder="Имя">
      </label>
      <label class="feedback__label">
        <input type="text" class="input-reset feedback-input" name="tel" type="tel" placeholder="Телефон">
      </label>
      <button class="btn-reset feedback-btn">Отправить</button>
    </form>
  </div>
</section>
