<section class="feedback" id="feedback">
  <div class="container">
    <h2 class="feedback__title">Заказать обратный звонок!</h2>
    <form action="#" class="feedback__form form">
      <label class="feedback__label">
        <input type="text" name="Имя" class="feedback__input input-reset input-name" placeholder="Имя">
      </label>
      <label class="feedback__label">
        <input type="text" class="feedback__input input-reset input-tel" name="tel" type="tel" placeholder="Телефон">
      </label>
      <button class="btn-reset feedback__btn" type="button">Отправить</button>
    </form>
  </div>
</section>
