<footer class="footer">
  <div class="container footer__container">
    <p class="footer__address">
      Москва Ряжская 13 к1
    </p>
    <p class="footer__mode">
      ПН-ВС 10:00-22:00
    </p>
    <a href="tel:+79856139393" class="footer__tel">+ 7 (985) 613-93-93</a>
    <a href="mailto:Hair.ti@mail.ru" class="footer__mail">Hair.ti@mail.ru</a>
    <div class="footer__wrap">
      <a href="https://www.instagram.com/__hairti__/?igshid=YmMyMTA2M2Y%3D" class="footer__wrap-instagram">
        <img loading="lazy" src="img/footer/instagram.svg" class="footer__wrap-instagram-image" width="48" height="48" alt="Ссылка на страницу салона HAiRTi по наращиваню волос в instagram">
      </a>
      <a href="https://wa.me/79856139393" class="footer__wrap-whatsap">
        <img loading="lazy" src="img/footer/whatsap.svg" class="footer__wrap-instagram-image" width="48" height="48" alt="Ссылка на whatsap салона HAiRTi по наращиваню волос">
      </a>
    </div>
  </div>
</footer>
