<section class="hero">
  <div class="swiper hero-swiper">
    <ul class="hero__wrapper swiper-wrapper list-reset">
      <li class="swiper-slide hero__slide">
        <picture class="hero__picture">
          <source srcset="img/hero/heroGaga1.avif" type="image/avif">
          <source srcset="img/hero/heroGaga1.webp" type="image/webp">
          <img loading="lazy" src="img/hero/heroGaga1.jpg" class="hero__image" width="1920" height="700" alt="">
        </picture>
      </li>
      <li class="swiper-slide hero__slide">
        <picture class="hero__picture">
          <source srcset="img/hero/heroGaga2.avif" type="image/avif">
          <source srcset="img/hero/heroGaga2.webp" type="image/webp">
          <img loading="lazy" src="img/hero/heroGaga2.jpg" class="hero__image" width="1920" height="700" alt="">
        </picture>
      </li>
    </ul>
  </div>
</section>
