<nav class="header__nav" title="Навигация по сайту салона по наращиванию и коррекции волос 'HAiRTi'">
  <ul class="header__nav-list list-reset">
    <li class="header__nav-item"><a href="#about" class="header__nav-link" data-scroll>О нас</a></li>
    <li class="header__nav-item"><a href="#examples" class="header__nav-link" data-scroll>Примеры работ</a></li>
    <li class="header__nav-item"><a href="#price" class="header__nav-link" data-scroll>Прайс</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link" data-scroll>Запись</a></li>
  </ul>
</nav>

