<nav class="header__nav" title="Навигация по сайту салона по наращиванию и коррекции волос 'HAiRTi'" data-menu>
  <button class="btn-reset header__nav-close" data-menu-close>
    <svg class="header__nav-close-img">
      <use xlink:href="img/sprite.svg#burgerClose"></use>
    </svg>
  </button>

  <ul class="header__nav-list list-reset">
    <li class="header__nav-item"><a href="#about" class="header__nav-link" data-menu-item data-scroll>О нас</a></li>
    <li class="header__nav-item"><a href="#examples" class="header__nav-link" data-menu-item data-scroll>Примеры работ</a></li>
    <li class="header__nav-item"><a href="#price" class="header__nav-link" data-menu-item data-scroll>Прайс</a></li>
  </ul>
</nav>
